[submodule "deps/djinni"]
	path = deps/djinni
	url = git@192.168.7.28:sandy/djinni.git
[submodule "deps/gyp"]
	path = deps/gyp
	url = git@192.168.7.28:sandy/gyp.git
[submodule "deps/json11"]
	path = deps/json11
	url = git@192.168.7.28:sandy/json11.git
